@using System.Data
@model AgendaViewModel

@{
    ViewData["Title"] = "Agenda";
    Layout = "~/Views/Shared/_LayoutGuriBatatais.cshtml";

    var hoje = DateTime.Now.Date;
}

@* conteudo *@
@* banner *@
<img src="~/img/bannerAgenda.png" class="img-fluid" alt="">

@* pagina *@
<div class="container-fluid espacoNavbar">
    @* comunicados *@
    <div class="">
        @if (Model != null)
        {
            @foreach (DataRow row in Model.tabSelect.Rows)
            { @* exibe um card para cada linha da datatable da model *@
                @switch (row["Cor"])
                {
                    @* card laranja *@
                    case "Laranja":
                        var modalId = "modalLaranja" + row["IdAgenda"].ToString();

                        <div class="row espacamentoCard">
                            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-sm-12 col-12">
                                <a class="cardStyle" data-bs-toggle="modal" data-bs-target="@("#" + modalId)"
                                   asp-route-IdAgenda="@row["IdAgenda"]"
                                   asp-controller="Agenda"
                                   asp-action="ExibirComunicadoPublico">
                                    <div class="card cardLaranja">
                                        <div class="card-body">
                                            <p class="card-text">@Convert.ToDateTime(@row["Data"]).ToString("dd/MM/yyyy") - @row["Gestor"]</p>
                                            <h5 class="card-title fonteEspecial">@row["Titulo"]</h5>
                                            <p class="card-text cardInfo">(clique para mais informações)</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        @* modal laranja *@
                        <div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="modalLabel@modalId" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    @* titulo *@
                                    <div class="modal-header fundoLaranja">
                                        <h5 class="modal-title fonteEspecial" id="modalLabel@modalId">@row["Titulo"]</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    @* conteudo *@
                                    <div class="modal-body">
                                        <div class="row">
                                            <p>@Convert.ToDateTime(@row["Data"]).ToString("dd/MM/yyyy") - @row["Gestor"]</p>
                                        </div>
                                        <div class="row conteudoComunicado">
                                            <p>@row["Comunicado"]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        break;

                    case "Verde":
                        modalId = "modalVerde" + row["IdAgenda"].ToString();

                        <div class="row espacamentoCard">
                            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-sm-12 col-12">
                                <a class="cardStyle" data-bs-toggle="modal" data-bs-target="@("#" + modalId)"
                                   asp-route-IdAgenda="@row["IdAgenda"]"
                                   asp-controller="Agenda"
                                   asp-action="ExibirComunicadoPublico">
                                    <div class="card cardVerde">
                                        <div class="card-body">
                                            <p class="card-text">@Convert.ToDateTime(@row["Data"]).ToString("dd/MM/yyyy") - @row["Gestor"]</p>
                                            <h5 class="card-title fonteEspecial">@row["Titulo"]</h5>
                                            <p class="card-text cardInfo">(clique para mais informações)</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        @* modal verde *@
                        <div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="modalLabel@modalId" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    @* titulo *@
                                    <div class="modal-header fundoVerde">
                                        <h5 class="modal-title fonteEspecial" id="modalLabel@modalId">@row["Titulo"]</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    @* conteudo *@
                                    <div class="modal-body">
                                        <div class="row">
                                            <p>@Convert.ToDateTime(@row["Data"]).ToString("dd/MM/yyyy") - @row["Gestor"]</p>
                                        </div>
                                        <div class="row conteudoComunicado">
                                            <p>@row["Comunicado"]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        break;

                    case "Azul":
                        modalId = "modalAzul" + row["IdAgenda"].ToString();

                        <div class="row espacamentoCard">
                            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-sm-12 col-12">
                                <a class="cardStyle" data-bs-toggle="modal" data-bs-target="@("#" + modalId)"
                                   asp-route-IdAgenda="@row["IdAgenda"]"
                                   asp-controller="Agenda"
                                   asp-action="ExibirComunicadoPublico">
                                    <div class="card cardAzul">
                                        <div class="card-body">
                                            <p class="card-text">@Convert.ToDateTime(@row["Data"]).ToString("dd/MM/yyyy") - @row["Gestor"]</p>
                                            <h5 class="card-title fonteEspecial">@row["Titulo"]</h5>
                                            <p class="card-text cardInfo">(clique para mais informações)</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        @* modal azul *@
                        <div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="modalLabel@modalId" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    @* titulo *@
                                    <div class="modal-header fundoAzul">
                                        <h5 class="modal-title fonteEspecial" id="modalLabel@modalId">@row["Titulo"]</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    @* conteudo *@
                                    <div class="modal-body">
                                        <div class="row">
                                            <p>@Convert.ToDateTime(@row["Data"]).ToString("dd/MM/yyyy") - @row["Gestor"]</p>
                                        </div>
                                        <div class="row conteudoComunicado">
                                            <p>@row["Comunicado"]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        break;

                    case "Roxo":
                        modalId = "modalRoxo" + row["IdAgenda"].ToString();

                        <div class="row espacamentoCard">
                            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-sm-12 col-12">
                                <a class="cardStyle" data-bs-toggle="modal" data-bs-target="@("#" + modalId)"
                                   asp-route-IdAgenda="@row["IdAgenda"]"
                                   asp-controller="Agenda"
                                   asp-action="ExibirComunicadoPublico">
                                    <div class="card cardRoxo">
                                        <div class="card-body">
                                            <p class="card-text">@Convert.ToDateTime(@row["Data"]).ToString("dd/MM/yyyy") - @row["Gestor"]</p>
                                            <h5 class="card-title fonteEspecial">@row["Titulo"]</h5>
                                            <p class="card-text cardInfo">(clique para mais informações)</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        @* modal roxo *@
                        <div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="modalLabel@modalId" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    @* titulo *@
                                    <div class="modal-header fundoRoxo">
                                        <h5 class="modal-title fonteEspecial" id="modalLabel@modalId">@row["Titulo"]</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    @* conteudo *@
                                    <div class="modal-body">
                                        <div class="row">
                                            <p>@Convert.ToDateTime(@row["Data"]).ToString("dd/MM/yyyy") - @row["Gestor"]</p>
                                        </div>
                                        <div class="row conteudoComunicado">
                                            <p>@row["Comunicado"]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        break;

                    case "Amarelo":
                        modalId = "modalAmarelo" + row["IdAgenda"].ToString();

                        <div class="row espacamentoCard">
                            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-sm-12 col-12">
                                <a class="cardStyle" data-bs-toggle="modal" data-bs-target="@("#" + modalId)"
                                   asp-route-IdAgenda="@row["IdAgenda"]"
                                   asp-controller="Agenda"
                                   asp-action="ExibirComunicadoPublico">
                                    <div class="card cardAmarelo">
                                        <div class="card-body">
                                            <p class="card-text">@Convert.ToDateTime(@row["Data"]).ToString("dd/MM/yyyy") - @row["Gestor"]</p>
                                            <h5 class="card-title fonteEspecial">@row["Titulo"]</h5>
                                            <p class="card-text cardInfo">(clique para mais informações)</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        @* modal amarelo *@
                        <div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="modalLabel@modalId" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    @* titulo *@
                                    <div class="modal-header fundoAmarelo">
                                        <h5 class="modal-title fonteEspecial" id="modalLabel@modalId">@row["Titulo"]</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    @* conteudo *@
                                    <div class="modal-body">
                                        <div class="row">
                                            <p>@Convert.ToDateTime(@row["Data"]).ToString("dd/MM/yyyy") - @row["Gestor"]</p>
                                        </div>
                                        <div class="row conteudoComunicado">
                                            <p>@row["Comunicado"]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        break;
                }
            }
        }
    </div>
</div>
